@{
    ViewData["Title"] = "AboutUS";
}


<style>
    .row {
        display: flex;
        justify-content: center; 
    }

    .column {
        flex: 1;
    }

    .card {
        display: flex;
        flex-direction: row; 
    }

    .container {
        padding: 20px;
    }
</style>

<div class="about-section">
    <h1>About Us </h1>
    <h2 style ="text-align: center"> Who are we?</h2>
    <p>
        We are KhumaloCraft a place were all artisans can share and sell their fantastic work. All across the world their is a lot of diffrent people with lots of unique
        and buetiful skills. On this platform they are able to put up pictures of what they have crafted and sell it to whomever is interested. This platform is respectful and
        for people who love art.
    </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <img src="/images/jameskhumalo.jpeg" alt="James" style="width:100%" height="350">
        <div class="card">           
            <div class="container">
                <h2>James Khumalo</h2>
                <p class="title"><h3>CEO & Founder</h3></p>
                <p>My name is James the founder and CEO of KhumaloCraft. I started this business as I love art and craftmanship, but I found out that there are tons of
                    artisans who do not have a platform or place to sell and display their work. Thats why I started this business a place where we all connect.
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <img src="/images/pexels-jeffrey-reed-769772.jpg" alt="Ethan" style="width:100%" height="350">
        <div class="card">
            <div class="container">
                <h2>Ethan Visagie</h2>
                <p class="title"><h3>Head of IT </h3></p>
                <p>Im the head of IT for Mr. James's business. I helped him create his website and make his dream a reality. I am here to help fix any issues
                    and improve the current website if needed.
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <img src="/images/pexels-pixabay-415829.jpg" alt="Jane" style="width:100%" height="350">
        <div class="card">
            
            <div class="container">
                <h2>Jane Conradie</h2>
                <p class="title"><h3>Customer Relations</h3></p>
                <p>Im the person that is here to help with any customer complaints or issues they might have with the website.
                    I also report any bugs or improvements the customers suggest to the Head of IT so that they can solve those problems.
                    If there are any problems with the service of our business please contact me so that I can report them to our CEO.
                </p>
                <p> khumaloCraft@gmail.com<br />
                    Contact number: (022) 689 1584</p>
            </div>
        </div>
    </div>

    <div class="column">
        <img src="/images/pexels-vinicius-wiesehofer-1130626.jpg" alt="Jannite" style="width:100%" height="350">
        <div class="card">
 
            <div class="container">
                <h2>Jannite Slaaiblaar</h2>
                <p class="title"><h3>Head of Art</h3></p>
                <p>
                    Im the person that works with the team to approve if the art that is submitted is safe to be posted online. We look carefully and have deep
                    discussing on wheter your art applies with our terms and regulations. We do this to be safe and make sure that our website does not get used for
                    wrong reasons.My contact information below for if we do not send you a message to say that your art is publised or not.
                </p>
                <p> khumaloArtsales@gmail.com<br />
                    Contact number: (022) 111 458</p>
            </div>
        </div>
    </div>
</div>


