
@{
    ViewData["Title"] = "AboutUS";
}

<h1>AboutUS</h1>

<p>We are KhumaloCraft the place were all artisans can share and sell their beutiful work. All across the world their is a lot of diffrent people with lots of unique 
    and buetiful skills. On this platform they are able to put up pictures of what they have crafted and sell it to whomever is interested. This platform is respectful and
    for people who love art.
</p>
