
@{
    ViewData["Title"] = "ContactUs";
}

<h1> Contact Us</h1>

<h2 style="text-align:center">How to contact us:</h2>
<p style ="text-align:center">
    Tel:      (022) 689 1584 <br/>
    Whatsapp: 083 555 1677 <br/>
    Email:    khumaloCraft@gmail.com
</p>


