@model int
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body
    {
        background-image: url('images/WPage.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    } 
</style>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login or Sign Up</h5>
                    <p class="card-text">Please login or sign up to access more features.</p>
                    <a href="@Url.Action("ShowLoginForm", "Home")" class="btn btn-primary">Login</a>
                    <a href="@Url.Action("ShowSignUpForm", "Home")" class="btn btn-secondary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
