<style>
        body {
            background-image: url('/images/bg1.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%
        }

        form {
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }

        footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
        }
</style>



<body>
    <div class="form-container">
        <form asp-controller="Login" asp-action="LoginForm" method="post" style="text-align:center">
            <p>Please enter your first name and email:</p>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="email" placeholder="example@gmail.com" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
