
@{
    ViewData["Title"] = "MyWork";
}

<h1>MyWork</h1>

<body>
    <img src="/images/P1.webp" width="400" height="300" />
</body>
<body>
    <img src="/images/P2.webp" width="400" height="300" />
</body>
<body>
    <img src="/images/P3.jpg" width="400" height="300"  />
</body>
<body>
    <img src="/images/P4.webp" width="400" height="300" />
</body>
<body>
    <img src="/images/P5.jpeg" width="400" height="300" />
</body>
<body>
    <img src="/images/p6.webp" width="400" height="300"/>
</body>
<body>
    <img src="/images/p7.webp" width="400" height="300"/>
</body>